In [1]:
import pandas as pd

Esto es un texto de markdown

In [2]:
import numpy as np

# Título
- Elemento 1

In [3]:
localidades = pd.read_csv('localidades.csv')
localidades.head()

,categoria,centroide_lat,centroide_lon,departamento_id,departamento_nombre,fuente,id,localidad_censal_id,localidad_censal_nombre,municipio_id,municipio_nombre,nombre,provincia_id,provincia_nombre
0,Localidad simple,-35.033073,-60.280620,6021.0,Alberti,INDEC,6021010000,6021010,Alberti,60021.0,Alberti,ALBERTI,6,Buenos Aires
1,Localidad simple,-34.868119,-60.393971,6021.0,Alberti,INDEC,6021020000,6021020,Coronel Seguí,60021.0,Alberti,CORONEL SEGUI,6,Buenos Aires
2,Componente de localidad compuesta,-35.068014,-60.402597,6021.0,Alberti,INDEC,6021030000,6021030,Mechita,60021.0,Alberti,MECHITA,6,Buenos Aires
3,Localidad simple,-35.124382,-60.220061,6021.0,Alberti,INDEC,6021040000,6021040,Pla,60021.0,Alberti,PLA,6,Buenos Aires
4,Localidad simple,-35.109618,-60.070551,6021.0,Alberti,INDEC,6021050000,6021050,Villa Grisolía,60021.0,Alberti,VILLA GRISOLIA,6,Buenos Aires

In [4]:
localidades.shape

(4142, 14)

In [5]:
localidades.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4142 entries, 0 to 4141
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   categoria                4142 non-null   object
 1   centroide_lat            4142 non-null   float64
 2   centroide_lon            4142 non-null   float64
 3   departamento_id          4141 non-null   float64
 4   departamento_nombre      4141 non-null   object
 5   fuente                   4142 non-null   object
 6   id                       4142 non-null   int64
 7   localidad_censal_id      4142 non-null   int64
 8   localidad_censal_nombre  4142 non-null   object
 9   municipio_id             3599 non-null   float64
 10  municipio_nombre         3599 non-null   object
 11  nombre                   4142 non-null   object
 12  provincia_id             4142 non-null   int64
 13  provincia_nombre         4142 non-null   object
dtypes: float64(4), int64(3), object(7)
memory usage: 453.2+ KB

In [6]:
localidades.describe()

,centroide_lat,centroide_lon,departamento_id,id,localidad_censal_id,municipio_id,provincia_id
count,4142.000000,4142.000000,4141.000000,4.142000e+03,4.142000e+03,3599.000000,4142.000000
mean,-32.142926,-62.992386,37894.094422,3.788550e+10,3.788481e+07,362413.327591,37.735394
std,4.788865,3.806946,29163.084284,2.916490e+10,2.916575e+07,287670.569116,29.255786
min,-54.803640,-72.891627,2007.000000,2.000010e+09,2.000010e+06,60007.000000,2.000000
25%,-34.747161,-65.550847,10070.000000,1.007012e+10,1.007012e+07,100028.000000,10.000000
50%,-32.161040,-63.338054,30084.000000,3.008412e+10,3.008412e+07,260056.000000,30.000000
75%,-28.461224,-59.942747,62091.000000,6.209108e+10,6.209108e+07,620150.500000,62.000000
max,-21.876490,-53.647213,94015.000000,9.401502e+10,9.401502e+07,942007.000000,94.000000

In [7]:
localidades.columns

Index(['categoria', 'centroide_lat', 'centroide_lon', 'departamento_id',
       'departamento_nombre', 'fuente', 'id', 'localidad_censal_id',
       'localidad_censal_nombre', 'municipio_id', 'municipio_nombre', 'nombre',
       'provincia_id', 'provincia_nombre'],
      dtype='object')

In [8]:
localidades.describe(include=['object'])

,categoria,departamento_nombre,fuente,localidad_censal_nombre,municipio_nombre,nombre,provincia_nombre
count,4142,4141,4142,4142,3599,4142,4142
unique,5,445,1,3231,1613,3730,24
top,Localidad simple,General Roca,INDEC,Ciudad Autónoma de Buenos Aires,La Plata,SAN PEDRO,Buenos Aires
freq,3153,84,4142,49,31,12,893

In [9]:
#Cuántos nulos tiene el dataset por columna
localidades.isnull().sum()

categoria                    0
centroide_lat                0
centroide_lon                0
departamento_id              1
departamento_nombre          1
fuente                       0
id                           0
localidad_censal_id          0
localidad_censal_nombre      0
municipio_id               543
municipio_nombre           543
nombre                       0
provincia_id                 0
provincia_nombre             0
dtype: int64

In [10]:
localidades.columns.str.upper()

Index(['CATEGORIA', 'CENTROIDE_LAT', 'CENTROIDE_LON', 'DEPARTAMENTO_ID',
       'DEPARTAMENTO_NOMBRE', 'FUENTE', 'ID', 'LOCALIDAD_CENSAL_ID',
       'LOCALIDAD_CENSAL_NOMBRE', 'MUNICIPIO_ID', 'MUNICIPIO_NOMBRE', 'NOMBRE',
       'PROVINCIA_ID', 'PROVINCIA_NOMBRE'],
      dtype='object')

In [11]:
locs = localidades.copy()

In [12]:
locs.head()

,categoria,centroide_lat,centroide_lon,departamento_id,departamento_nombre,fuente,id,localidad_censal_id,localidad_censal_nombre,municipio_id,municipio_nombre,nombre,provincia_id,provincia_nombre
0,Localidad simple,-35.033073,-60.280620,6021.0,Alberti,INDEC,6021010000,6021010,Alberti,60021.0,Alberti,ALBERTI,6,Buenos Aires
1,Localidad simple,-34.868119,-60.393971,6021.0,Alberti,INDEC,6021020000,6021020,Coronel Seguí,60021.0,Alberti,CORONEL SEGUI,6,Buenos Aires
2,Componente de localidad compuesta,-35.068014,-60.402597,6021.0,Alberti,INDEC,6021030000,6021030,Mechita,60021.0,Alberti,MECHITA,6,Buenos Aires
3,Localidad simple,-35.124382,-60.220061,6021.0,Alberti,INDEC,6021040000,6021040,Pla,60021.0,Alberti,PLA,6,Buenos Aires
4,Localidad simple,-35.109618,-60.070551,6021.0,Alberti,INDEC,6021050000,6021050,Villa Grisolía,60021.0,Alberti,VILLA GRISOLIA,6,Buenos Aires

In [13]:
locs.columns = locs.columns.str.upper()

In [14]:
locs.columns

Index(['CATEGORIA', 'CENTROIDE_LAT', 'CENTROIDE_LON', 'DEPARTAMENTO_ID',
       'DEPARTAMENTO_NOMBRE', 'FUENTE', 'ID', 'LOCALIDAD_CENSAL_ID',
       'LOCALIDAD_CENSAL_NOMBRE', 'MUNICIPIO_ID', 'MUNICIPIO_NOMBRE', 'NOMBRE',
       'PROVINCIA_ID', 'PROVINCIA_NOMBRE'],
      dtype='object')

In [15]:
locs.drop('LOCALIDAD_CENSAL_NOMBRE', axis=1, inplace=True) #Axis 1 indica columna

In [16]:
locs.drop([0, 1, 3], axis=0, inplace=True) #Axis 0 indica filas

In [17]:
locs.shape

(4139, 13)

In [18]:
locs.head()

,CATEGORIA,CENTROIDE_LAT,CENTROIDE_LON,DEPARTAMENTO_ID,DEPARTAMENTO_NOMBRE,FUENTE,ID,LOCALIDAD_CENSAL_ID,MUNICIPIO_ID,MUNICIPIO_NOMBRE,NOMBRE,PROVINCIA_ID,PROVINCIA_NOMBRE
2,Componente de localidad compuesta,-35.068014,-60.402597,6021.0,Alberti,INDEC,6021030000,6021030,60021.0,Alberti,MECHITA,6,Buenos Aires
4,Localidad simple,-35.109618,-60.070551,6021.0,Alberti,INDEC,6021050000,6021050,60021.0,Alberti,VILLA GRISOLIA,6,Buenos Aires
5,Localidad simple,-34.888126,-60.346939,6021.0,Alberti,INDEC,6021060000,6021060,60021.0,Alberti,VILLA MARIA,6,Buenos Aires
6,Localidad simple,-34.843533,-60.304850,6021.0,Alberti,INDEC,6021070000,6021070,60021.0,Alberti,VILLA ORTIZ,6,Buenos Aires
7,Entidad,-34.801558,-58.391468,6028.0,Almirante Brown,INDEC,6028010001,6028010,60028.0,Almirante Brown,ADROGUE,6,Buenos Aires

### Ordenar un dataset

In [19]:
locs['NOMBRE'].sort_values()

1148           1 DE AGOSTO
2044             1 DE MAYO
2694             1 DE MAYO
2475          10A. SECCION
2835         11 DE OCTUBRE
               ...
3470         ZENON PEREYRA
550     ZENON VIDELA DORNA
3685             ÑANDUCITA
3015              ÑIRIHUAU
3002             ÑORQUINCO
Name: NOMBRE, Length: 4139, dtype: object

In [20]:
locs['PROVINCIA_NOMBRE'].sort_values(ascending=False)

3993         Tucumán
4036         Tucumán
4010         Tucumán
4011         Tucumán
4012         Tucumán
            ...
562     Buenos Aires
561     Buenos Aires
560     Buenos Aires
559     Buenos Aires
2       Buenos Aires
Name: PROVINCIA_NOMBRE, Length: 4139, dtype: object

In [21]:
locs.sort_values('NOMBRE')

,CATEGORIA,CENTROIDE_LAT,CENTROIDE_LON,DEPARTAMENTO_ID,DEPARTAMENTO_NOMBRE,FUENTE,ID,LOCALIDAD_CENSAL_ID,MUNICIPIO_ID,MUNICIPIO_NOMBRE,NOMBRE,PROVINCIA_ID,PROVINCIA_NOMBRE
1148,Entidad,-31.306907,-64.178531,14021.0,Colón,INDEC,14021310004,14021310,140105.0,Estación Juárez Celman,1 DE AGOSTO,14,Córdoba
2044,Localidad simple,-32.257012,-58.422729,30098.0,Uruguay,INDEC,30098090000,30098090,NaN,NaN,1 DE MAYO,30,Entre Ríos
2694,Localidad simple,-27.166085,-55.029165,54014.0,Cainguás,INDEC,54014060000,54014060,540042.0,Campo Grande,1 DE MAYO,54,Misiones
2475,Entidad,-32.876293,-68.935891,50007.0,Capital,INDEC,50007010010,50007010,500007.0,Capital,10A. SECCION,50,Mendoza
2835,Localidad simple,-38.878684,-68.100171,58035.0,Confluencia,INDEC,58035080000,58035080,580042.0,Centenario,11 DE OCTUBRE,58,Neuquén
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3470,Localidad simple,-31.564397,-61.898425,82021.0,Castellanos,INDEC,82021430000,82021430,822406.0,Zenón Pereyra,ZENON PEREYRA,82,Santa Fe
550,Localidad simple,-35.544773,-58.885591,6547.0,Monte,INDEC,6547030000,6547030,60547.0,Monte,ZENON VIDELA DORNA,6,Buenos Aires
3685,Localidad simple,-30.372460,-61.132602,82091.0,San Cristóbal,INDEC,82091200000,82091200,823624.0,Ñanducita,ÑANDUCITA,82,Santa Fe
3015,Localidad simple,-41.088559,-71.136913,62070.0,Pilcaniyeu,INDEC,62070040000,62070040,620273.0,Dina Huapi,ÑIRIHUAU,62,Río Negro
3002,Localidad simple,-41.843449,-70.894393,62056.0,Ñorquinco,INDEC,62056030000,62056030,620203.0,Ñorquinco,ÑORQUINCO,62,Río Negro

In [22]:
locs = locs.sort_values('NOMBRE')

In [23]:
locs.head()

,CATEGORIA,CENTROIDE_LAT,CENTROIDE_LON,DEPARTAMENTO_ID,DEPARTAMENTO_NOMBRE,FUENTE,ID,LOCALIDAD_CENSAL_ID,MUNICIPIO_ID,MUNICIPIO_NOMBRE,NOMBRE,PROVINCIA_ID,PROVINCIA_NOMBRE
1148,Entidad,-31.306907,-64.178531,14021.0,Colón,INDEC,14021310004,14021310,140105.0,Estación Juárez Celman,1 DE AGOSTO,14,Córdoba
2044,Localidad simple,-32.257012,-58.422729,30098.0,Uruguay,INDEC,30098090000,30098090,NaN,NaN,1 DE MAYO,30,Entre Ríos
2694,Localidad simple,-27.166085,-55.029165,54014.0,Cainguás,INDEC,54014060000,54014060,540042.0,Campo Grande,1 DE MAYO,54,Misiones
2475,Entidad,-32.876293,-68.935891,50007.0,Capital,INDEC,50007010010,50007010,500007.0,Capital,10A. SECCION,50,Mendoza
2835,Localidad simple,-38.878684,-68.100171,58035.0,Confluencia,INDEC,58035080000,58035080,580042.0,Centenario,11 DE OCTUBRE,58,Neuquén

### Leer desde un link un dataset

In [24]:
df = pd.read_table('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/chipotle.tsv')

In [25]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [26]:
df = pd.read_table('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/u.user', sep='|', header=None)

In [27]:
df.head()

   0   1  2           3      4
0  1  24  M  technician  85711
1  2  53  F       other  94043
2  3  23  M      writer  32067
3  4  24  M  technician  43537
4  5  33  F       other  15213

In [28]:
cols = ['id', 'edad', 'género', 'ocupación', 'cod_postal']
df = pd.read_table('https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/u.user', sep='|', header=None, names=cols)

In [29]:
df.head()

   id  edad género   ocupación cod_postal
0   1    24      M  technician      85711
1   2    53      F       other      94043
2   3    23      M      writer      32067
3   4    24      M  technician      43537
4   5    33      F       other      15213

In [30]:
df.head?

In [31]:
df.head??

### Filtrados

In [32]:
filtro = [False, True, False]

In [33]:
locs.head(3)

,CATEGORIA,CENTROIDE_LAT,CENTROIDE_LON,DEPARTAMENTO_ID,DEPARTAMENTO_NOMBRE,FUENTE,ID,LOCALIDAD_CENSAL_ID,MUNICIPIO_ID,MUNICIPIO_NOMBRE,NOMBRE,PROVINCIA_ID,PROVINCIA_NOMBRE
1148,Entidad,-31.306907,-64.178531,14021.0,Colón,INDEC,14021310004,14021310,140105.0,Estación Juárez Celman,1 DE AGOSTO,14,Córdoba
2044,Localidad simple,-32.257012,-58.422729,30098.0,Uruguay,INDEC,30098090000,30098090,NaN,NaN,1 DE MAYO,30,Entre Ríos
2694,Localidad simple,-27.166085,-55.029165,54014.0,Cainguás,INDEC,54014060000,54014060,540042.0,Campo Grande,1 DE MAYO,54,Misiones

In [34]:
locs.head(3) [filtro]

,CATEGORIA,CENTROIDE_LAT,CENTROIDE_LON,DEPARTAMENTO_ID,DEPARTAMENTO_NOMBRE,FUENTE,ID,LOCALIDAD_CENSAL_ID,MUNICIPIO_ID,MUNICIPIO_NOMBRE,NOMBRE,PROVINCIA_ID,PROVINCIA_NOMBRE
2044,Localidad simple,-32.257012,-58.422729,30098.0,Uruguay,INDEC,30098090000,30098090,NaN,NaN,1 DE MAYO,30,Entre Ríos

In [35]:
locs.CATEGORIA.unique()

array(['Entidad', 'Localidad simple', 'Componente de localidad compuesta',
       'Localidad simple con entidad',
       'Componente de localidad compuesta con entidad'], dtype=object)

In [36]:
locs.CATEGORIA.nunique()

5

In [37]:
locs_simples = locs[locs.CATEGORIA == 'Localidad simple']

In [38]:
locs_simples.shape

(3150, 13)

In [39]:
locs_simples.CATEGORIA.unique()

array(['Localidad simple'], dtype=object)

In [40]:
locs[locs.CATEGORIA == 'Localidad simple']['NOMBRE']

2044             1 DE MAYO
2694             1 DE MAYO
2835         11 DE OCTUBRE
578          12 DE OCTUBRE
36             16 DE JULIO
               ...
3470         ZENON PEREYRA
550     ZENON VIDELA DORNA
3685             ÑANDUCITA
3015              ÑIRIHUAU
3002             ÑORQUINCO
Name: NOMBRE, Length: 3150, dtype: object

In [42]:
locs.loc[locs.CATEGORIA == 'Localidad simple', 'NOMBRE']

2044             1 DE MAYO
2694             1 DE MAYO
2835         11 DE OCTUBRE
578          12 DE OCTUBRE
36             16 DE JULIO
               ...
3470         ZENON PEREYRA
550     ZENON VIDELA DORNA
3685             ÑANDUCITA
3015              ÑIRIHUAU
3002             ÑORQUINCO
Name: NOMBRE, Length: 3150, dtype: object

In [43]:
locs.PROVINCIA_NOMBRE.unique()

array(['Córdoba', 'Entre Ríos', 'Misiones', 'Mendoza', 'Neuquén',
       'Buenos Aires', 'La Pampa', 'Chubut', 'Santa Cruz', 'San Luis',
       'Tucumán', 'Corrientes', 'San Juan', 'Santa Fe', 'Jujuy',
       'Santiago del Estero', 'Catamarca', 'Salta',
       'Ciudad Autónoma de Buenos Aires', 'Río Negro', 'La Rioja',
       'Chaco', 'Formosa',
       'Tierra del Fuego, Antártida e Islas del Atlántico Sur'],
      dtype=object)

In [45]:
locs_simple_chaco = locs[(locs.CATEGORIA == 'Localidad simple') & (locs.PROVINCIA_NOMBRE == 'Chaco')]

In [46]:
locs_simple_chaco.shape

(85, 13)

In [47]:
locs_simple_chaco.PROVINCIA_NOMBRE.unique()

array(['Chaco'], dtype=object)

In [48]:
locs_simple_chaco.CATEGORIA.unique()

array(['Localidad simple'], dtype=object)

In [50]:
df = locs[(locs.CATEGORIA == 'Localidad simple') | (locs.PROVINCIA_NOMBRE == 'Chaco')]

In [51]:
df.PROVINCIA_NOMBRE.unique()

array(['Entre Ríos', 'Misiones', 'Neuquén', 'Buenos Aires', 'La Pampa',
       'Mendoza', 'Chubut', 'Santa Cruz', 'Tucumán', 'Corrientes',
       'San Juan', 'Santa Fe', 'Jujuy', 'Santiago del Estero', 'Córdoba',
       'Salta', 'Catamarca', 'Río Negro', 'La Rioja', 'San Luis', 'Chaco',
       'Formosa', 'Tierra del Fuego, Antártida e Islas del Atlántico Sur'],
      dtype=object)

In [52]:
df.CATEGORIA.unique()

array(['Localidad simple', 'Componente de localidad compuesta'],
      dtype=object)

In [55]:
locs[locs.PROVINCIA_NOMBRE.isin(['Chaco', 'Misiones', 'Salta'])]

,CATEGORIA,CENTROIDE_LAT,CENTROIDE_LON,DEPARTAMENTO_ID,DEPARTAMENTO_NOMBRE,FUENTE,ID,LOCALIDAD_CENSAL_ID,MUNICIPIO_ID,MUNICIPIO_NOMBRE,NOMBRE,PROVINCIA_ID,PROVINCIA_NOMBRE
2694,Localidad simple,-27.166085,-55.029165,54014.0,Cainguás,INDEC,54014060000,54014060,540042.0,Campo Grande,1 DE MAYO,54,Misiones
2818,Localidad simple,-27.371572,-54.747522,54119.0,25 de Mayo,INDEC,54119060000,54119060,540525.0,25 de Mayo,25 DE MAYO,54,Misiones
2718,Localidad simple,-26.430281,-54.466467,54042.0,Eldorado,INDEC,54042040000,54042040,540161.0,9 de Julio,9 DE JULIO,54,Misiones
2719,Localidad simple,-26.414533,-54.497612,54042.0,Eldorado,INDEC,54042050000,54042050,540161.0,9 de Julio,9 DE JULIO KILOMETRO 20,54,Misiones
3182,Localidad simple,-22.262571,-64.999343,66161.0,Santa Victoria,INDEC,66161010000,66161010,660413.0,Santa Victoria Oeste,ACOYTE,66,Salta
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2764,Localidad simple,-26.846268,-54.739754,54077.0,Libertador General San Martín,INDEC,54077120000,54077120,540301.0,El Alcázar,VILLA URRUTIA,54,Misiones
2742,Localidad simple,-25.971326,-54.561026,54063.0,Iguazú,INDEC,54063040000,54063040,540231.0,Colonia Wanda,WANDA,54,Misiones
1742,Localidad simple,-24.691398,-61.430445,22063.0,General Güemes,INDEC,22063110000,22063110,220168.0,El Sauzalito,WICHI,22,Chaco
3117,Localidad simple,-22.376577,-63.765430,66056.0,General José de San Martín,INDEC,66056250000,66056250,660161.0,Tartagal,YACUY,66,Salta
1743,Localidad simple,-26.067362,-60.563387,22063.0,General Güemes,INDEC,22063120000,22063120,220182.0,Juan José Castelli,ZAPARINQUI,22,Chaco

In [53]:
type(locs.PROVINCIA_NOMBRE)

pandas.core.series.Series

### Filtrado con función query

In [57]:
locs.query('CATEGORIA=="Localidad simple" and PROVINCIA_NOMBRE=="Chaco"')

,CATEGORIA,CENTROIDE_LAT,CENTROIDE_LON,DEPARTAMENTO_ID,DEPARTAMENTO_NOMBRE,FUENTE,ID,LOCALIDAD_CENSAL_ID,MUNICIPIO_ID,MUNICIPIO_NOMBRE,NOMBRE,PROVINCIA_ID,PROVINCIA_NOMBRE
1744,Localidad simple,-26.690427,-60.730949,22070.0,Independencia,INDEC,22070010000,22070010,220210.0,Avia Terai,AVIA TERAI,22,Chaco
1769,Localidad simple,-27.448043,-58.855101,22126.0,1° de Mayo,INDEC,22126010000,22126010,220364.0,Colonia Benitez,BARRIO DE LOS PESCADORES,22,Chaco
1775,Localidad simple,-27.886866,-59.279100,22140.0,San Fernando,INDEC,22140020000,22140020,220392.0,Basail,BASAIL,22,Chaco
1745,Localidad simple,-26.803864,-60.842303,22070.0,Independencia,INDEC,22070020000,22070020,220217.0,Campo Largo,CAMPO LARGO,22,Chaco
1782,Localidad simple,-26.805073,-59.559652,22154.0,Sargento Cabral,INDEC,22154010000,22154010,220434.0,Capitán Solari,CAPITAN SOLARI,22,Chaco
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1781,Localidad simple,-27.289549,-60.415596,22147.0,San Lorenzo,INDEC,22147020000,22147020,220427.0,Villa Berthet,VILLA BERTHET,22,Chaco
1773,Localidad simple,-26.455119,-60.164617,22133.0,Quitilipi,INDEC,22133020000,22133020,220378.0,Quitilipi,VILLA EL PALMAR,22,Chaco
1741,Localidad simple,-25.642441,-60.262944,22063.0,General Güemes,INDEC,22063100000,22063100,220203.0,Villa Río Bermejito,VILLA RIO BERMEJITO,22,Chaco
1742,Localidad simple,-24.691398,-61.430445,22063.0,General Güemes,INDEC,22063110000,22063110,220168.0,El Sauzalito,WICHI,22,Chaco
1743,Localidad simple,-26.067362,-60.563387,22063.0,General Güemes,INDEC,22063120000,22063120,220182.0,Juan José Castelli,ZAPARINQUI,22,Chaco

In [58]:
locs.query('CATEGORIA=="Localidad simple" or PROVINCIA_NOMBRE=="Chaco"')

,CATEGORIA,CENTROIDE_LAT,CENTROIDE_LON,DEPARTAMENTO_ID,DEPARTAMENTO_NOMBRE,FUENTE,ID,LOCALIDAD_CENSAL_ID,MUNICIPIO_ID,MUNICIPIO_NOMBRE,NOMBRE,PROVINCIA_ID,PROVINCIA_NOMBRE
2044,Localidad simple,-32.257012,-58.422729,30098.0,Uruguay,INDEC,30098090000,30098090,NaN,NaN,1 DE MAYO,30,Entre Ríos
2694,Localidad simple,-27.166085,-55.029165,54014.0,Cainguás,INDEC,54014060000,54014060,540042.0,Campo Grande,1 DE MAYO,54,Misiones
2835,Localidad simple,-38.878684,-68.100171,58035.0,Confluencia,INDEC,58035080000,58035080,580042.0,Centenario,11 DE OCTUBRE,58,Neuquén
578,Localidad simple,-35.607731,-60.918293,6588.0,9 de Julio,INDEC,6588030000,6588030,60588.0,9 de Julio,12 DE OCTUBRE,6,Buenos Aires
36,Localidad simple,-37.202052,-60.165214,6049.0,Azul,INDEC,6049050000,6049050,60049.0,Azul,16 DE JULIO,6,Buenos Aires
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3470,Localidad simple,-31.564397,-61.898425,82021.0,Castellanos,INDEC,82021430000,82021430,822406.0,Zenón Pereyra,ZENON PEREYRA,82,Santa Fe
550,Localidad simple,-35.544773,-58.885591,6547.0,Monte,INDEC,6547030000,6547030,60547.0,Monte,ZENON VIDELA DORNA,6,Buenos Aires
3685,Localidad simple,-30.372460,-61.132602,82091.0,San Cristóbal,INDEC,82091200000,82091200,823624.0,Ñanducita,ÑANDUCITA,82,Santa Fe
3015,Localidad simple,-41.088559,-71.136913,62070.0,Pilcaniyeu,INDEC,62070040000,62070040,620273.0,Dina Huapi,ÑIRIHUAU,62,Río Negro
3002,Localidad simple,-41.843449,-70.894393,62056.0,Ñorquinco,INDEC,62056030000,62056030,620203.0,Ñorquinco,ÑORQUINCO,62,Río Negro

In [59]:
provs = ['Chaco', 'Misiones', 'Santa Fe']
locs.query('PROVINCIA_NOMBRE in @provs')

,CATEGORIA,CENTROIDE_LAT,CENTROIDE_LON,DEPARTAMENTO_ID,DEPARTAMENTO_NOMBRE,FUENTE,ID,LOCALIDAD_CENSAL_ID,MUNICIPIO_ID,MUNICIPIO_NOMBRE,NOMBRE,PROVINCIA_ID,PROVINCIA_NOMBRE
2694,Localidad simple,-27.166085,-55.029165,54014.0,Cainguás,INDEC,54014060000,54014060,540042.0,Campo Grande,1 DE MAYO,54,Misiones
2818,Localidad simple,-27.371572,-54.747522,54119.0,25 de Mayo,INDEC,54119060000,54119060,540525.0,25 de Mayo,25 DE MAYO,54,Misiones
2718,Localidad simple,-26.430281,-54.466467,54042.0,Eldorado,INDEC,54042040000,54042040,540161.0,9 de Julio,9 DE JULIO,54,Misiones
2719,Localidad simple,-26.414533,-54.497612,54042.0,Eldorado,INDEC,54042050000,54042050,540161.0,9 de Julio,9 DE JULIO KILOMETRO 20,54,Misiones
3499,Localidad simple,-34.334532,-62.374801,82042.0,General López,INDEC,82042010000,82042010,822574.0,Aarón Castellanos,AARON CASTELLANOS,82,Santa Fe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3775,Localidad simple,-31.946990,-61.402555,82126.0,San Martín,INDEC,82126180000,82126180,824072.0,Colonia Belgrano,WILDERMUTH,82,Santa Fe
1743,Localidad simple,-26.067362,-60.563387,22063.0,General Güemes,INDEC,22063120000,22063120,220182.0,Juan José Castelli,ZAPARINQUI,22,Chaco
3664,Localidad simple,-33.021570,-60.879303,82084.0,Rosario,INDEC,82084320000,82084320,823463.0,Zavalla,ZAVALLA,82,Santa Fe
3470,Localidad simple,-31.564397,-61.898425,82021.0,Castellanos,INDEC,82021430000,82021430,822406.0,Zenón Pereyra,ZENON PEREYRA,82,Santa Fe
3685,Localidad simple,-30.372460,-61.132602,82091.0,San Cristóbal,INDEC,82091200000,82091200,823624.0,Ñanducita,ÑANDUCITA,82,Santa Fe